# Ignore arquivos de compilação
bin/
obj/

# Arquivos de log
*.log

# Arquivos do Visual Studio Code
.vscode/

# Arquivos do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de configuração locais
*.csproj.user
*.csproj.DotSettings.user
*.dbmdl
*.opendb
*.pfx
*.publishsettings

# Arquivos de cache e build
*.pidb
*.suo
*.unsuccessfulbuild
*.buildlog
*.ilk
*.meta
*.obj
*.cache
*.csproj.nuget.g.targets
*.csproj.nuget.g.props

# Arquivos gerados pelo NuGet
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Arquivos gerados pelo Rider
.idea/
*.sln.iml

# Outros
*.tmp
*.temp
*.bak
*.swp
*.orig
*.VSCodeCounter
**/.DS_Store
